<div class="container">
  <div class="header-container">
    <div class="header-buttons-container">
      <button mat-raised-button color="primary" id="add-user-button-add-ID" (click)="openProductDialog()">Añadir <mat-icon>add</mat-icon></button>
      <button mat-raised-button color="primary" id="add-user-button-filter-ID" (click)="openProductFilteringDialog()">Buscar <mat-icon>search</mat-icon></button>
    </div>
    <mat-form-field class="my-3">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" *ngIf="!dataSource; else not_found_template">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
      </ng-container>

      <!-- Licencia name Column -->
      <ng-container matColumnDef="lic_nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
        <td mat-cell *matCellDef="let row"> {{row.lic_nombre}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aceptado </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip-listbox>
            <mat-chip [style.backgroundColor]="row.sw_Activo == 1 ? '#43b943' : '#808080'">
              {{ row.sw_Activo == 1 ? 'Activo' : 'Inactivo' }}
            </mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row" class="actions-column" class="actions_column_width">
          <button mat-icon-button matTooltip="Editar producto" (click)="editProduct(row)">
            <mat-icon class="edit_icon_color">edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar producto" (click)="deleteProduct(row)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" #paginator></mat-paginator>
  </div>
  <ng-template #not_found_template>
    <div class="container-img-not-found">
      <span>Inicie la búsqueda de productos</span>
      <mat-icon mat-icon-large>search</mat-icon>
      <!-- <img src="../../../../assets/logos/not_found.jpg" alt="not found"> -->
    </div>
  </ng-template>
</div>
