<h1 mat-dialog-title>Añadir rol</h1>
<div mat-dialog-content>
  <form [formGroup]="roleDialogForm">
    <div class="container-1">
      <mat-form-field class="custom-margin-right">
        <mat-label>Nombre</mat-label>
        <input matInput [formControlName]="'name'">
      </mat-form-field>
    </div>
    <div class="container-2">
      <mat-form-field class="w-100">
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControlName]="'descripcion'"></textarea>
      </mat-form-field>
    </div>
    <div class="container-3">
      <mat-checkbox formControlName="activeChbx">Activo</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="saveRol()" *ngIf="!isEditing">Guardar</button>
  <button mat-raised-button color="primary" (click)="editRol()" *ngIf="isEditing">Editar</button>
  <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
</div>
