.container-3 mat-form-field {
  width: 96%;
}

.mat-dialog-actions-custom {
  justify-content: end;
}

.container-4 {
	display: flex;
	justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.custom-margin-right {
  margin-right: 10px;
}
