<h1 mat-dialog-title *ngIf="!isEditing">Añadir Tipo de Producto</h1>
<h1 mat-dialog-title *ngIf="isEditing">Editar Tipo de Producto</h1>
<div mat-dialog-content>
  <form [formGroup]="productDialogForm">
    <div class="container-1">
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput [formControlName]="'description'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio(%)</mat-label>
        <input matInput [formControlName]="'price_perc'">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="onSaveClick()" *ngIf="!isEditing">Guardar</button>
  <button mat-raised-button color="primary" (click)="editProduct()" *ngIf="isEditing">Editar</button>
  <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
</div>
