@import 'theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-button {
  align-self: center;
}

.check_icon_color {
  color: #48d448
}

.edit_icon_color {
  color: #dddd54;
}

.add-user-button-ID {
  align-self: center;
  z-index: 0;
}
