<div class="container">
  <app-header-page [title]="'Administrar Roles'" [fontSize]=24></app-header-page>
  <div class="header-container">
    <button mat-raised-button color="primary" class="add-user-button-ID" (click)="openRolesDialog()">Añadir <mat-icon>add</mat-icon></button>
    <mat-form-field class="my-3">
      <mat-label>Buscar</mat-label>
      <input matInput  (keyup)="applyFilter($event)" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip-listbox>
            <mat-chip [style.backgroundColor]="row.status == 1 ? '#43b943' : '#808080'">
              {{ row.status == 1 ? 'Activo' : 'Inactivo' }}
            </mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>

       <!-- Actions Column -->
       <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row" class="actions-column" class="actions_column_width">
          <a mat-icon-button matTooltip="Asignar permisos" [routerLink]="['/navigation/security/role-access-policies']">
            <mat-icon class="check_icon_color"> checklist </mat-icon>
          </a>
          <button mat-icon-button matTooltip="Editar rol" (click)="editRol(row)">
            <mat-icon class="edit_icon_color">edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar rol" (click)="deleteRol(row)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" #paginator></mat-paginator>
  </div>
</div>
